@font-face {
    font-family: 'GothamRounded-Book';
    src: url('../fonts/GothamRounded-Book.eot');
    src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamRounded-Book.woff') format('woff'),
         url('../fonts/GothamRounded-Book.ttf') format('truetype'),
         url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	border:0;
	font-family: 'GothamRounded-Book';
	outline: none;
}
html, body {
	width: 100%;
	height: 100%;
}
p {
	font-family: 'GothamRounded-Book';
	font-size: 12pt;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.section-folds {
	width: 100%;
	height: 100%;
}
.black-text {
	color: #1F1F1F;
}
.white-text {
	color: #fff;
}
.greyish-text {
	color: #5a5a5a;
}
.darkgrey-text {
	color: #626262;
}
.orange-text {
	color: #e36b36;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
h2 {
	font-size: 35pt;
	font-weight: normal;
	margin: 10px 0;
}
h3 {
	font-size: 25pt;
	font-weight: normal;
	margin: 10px 0;
}
h4 {
	font-size: 20pt;
	font-weight: normal;
	margin: 10px 0;
}


header {
	width: 100%;
	height: 70px;
	background: #1f1f1f;
	position: absolute;
	z-index: 100;
}
header #tackthis-logo {
	width: auto;
	height: 40px;
	margin: 15px 0 15px 60px;
}
header #header-nav {
	float: right;
	margin: 25px 40px 0 0;
}
header #header-nav p {
	color: #fff;
	font-size: 10pt;
	margin: 0 20px;
	display: block;
	float: left;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header #header-nav p:hover {
	color: #a5a5a5;
}

#back-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
	width: 50px;
}

#section1 {
	position: relative;
	background-size: cover;
}
#section1 .section1-slider {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	background: #1b1b1b;
	top: 0;
	left: 0;
}
#section1 .section1-slider div {
	width: 100%;
	height: 100%;
}
#section1 .section1-slider .section1-slider-slide1 {
	background: url(../images/section1/section1-bg1.jpg) center top;
	background-size: cover;
}
#section1 .section1-slider .section1-slider-slide2 {
	background: url(../images/section1/section1-bg2.jpg) center top;
	background-size: cover;
}
.section1-title {
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 2;
	display: table;
	padding: 100px 0 0;
}
.section1-title p {
	font-size: 40pt;
	color: #fff;
	line-height: 50pt;
}
.section1-laptop-slider {
	position: relative;
	margin: 30px auto 0;
}
.section1-laptop-slider div {
}
.section1-laptop-slider div img {
	display: table;
	margin: 0 auto;
}
#down-button {
	width: 50px;
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
nav {
	margin:0;
	width: 100%;
	height: 60px;
	background:#fff;
	border-bottom: #a2a2a2 solid 2px;
	position: relative;
	z-index: 100;

}
nav .nav-collapse-button {
	display: none;
}
nav .nav-options {
	padding: 12px 0 0 40px;
}
nav .nav-options li {
	list-style: none;
}
nav .nav-options a {
	font-size: 10pt;
	color: #a2a2a2;
	margin:10px;
	display: block;
	float: left;
}
nav .getstarted-nav {
	position: relative;
	float: right;
	width: auto;
	height: 35px;
	margin: 0px 60px 0 0;
}
nav .nav-options a:hover, nav .nav-options a.mPS2id-highlight{
	color: #5a5a5a;
}

#section2-fold1b {
	display: block;
}
#section2 {
	text-align: center;
}
#section2 #section2-fold1a h2 {
	margin: 100px 0 35px;
}
.section2-parts {
	clear: both;
	padding-top: 100px;
}
.section2-part1 {
	width: 100%;
}
.section2-part1 img {
	max-width: 100%;
}

#section2-fold2 {
	background: url(../images/section2-fold2-bg.png) repeat-x;
	background-size: auto 100%;
}
#section2-fold2 .row {
	width: 100%;
	max-width: 100%;
	position:relative;
	padding: 170px 0 50px;
}
#section2-fold2-img {
	width: 110%;
	max-width: 110%;
	margin-left: -25%;
}
.section2-fold2-slider p {
	width: 60%;
}

#section3 {
	background: url(../images/section3-bg.png) repeat-x;
	background-size: auto 100%;
	text-align: center;
}
#section3 .row {
	max-width: 80%;
	padding: 50px 0 100px;
}
#section3 h2 {
	margin: 0;
	padding: 100px 0 35px;
}
#price-options-div {
	width: 100%;
}
.price-options {
	width: 18%;
	margin: 29pt 1% 0;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	display: block;
	float: left;
}
.most-popular {
	margin: 0 1% 0;
}
.most-popular h6 {
	color: #F2A224;
	font-size: 13pt;
	font-weight: bolder;
	margin: 5pt 0;
}
.price-options img {
	width: 100%;
}
.price-options .price-labels {
	z-index: 10;
	width: 100%;
	height: 71%;
	color: #fff;
	background: #1b1b1b;
}
.price-options h5 {
	font-size: 13pt;
	font-weight: bolder;
	color: #a2a2a2;
	width: 95%;
	margin: 0 2.5%;
	padding: 8px 0;
	border-bottom: #e1e1e1 solid 1px;
}
.price-options p {
	margin: 12px 0;
	font-size: 15px;
}
.price-options p a {
	color: #F2A224;
}

#section4 {
	width: 100%;
	background: url(../images/section4-bg.png) repeat-x;
	background-size: auto 100%;

}
#section4 .row {
	padding: 100px 0 0 0;
	max-width: 100%;
}
#section4 .section4-h2 {
	position: absolute;
	height: 300px;
	left: 50%;
	padding: 50px 0 0;
}
#section4 .section4-slider {

}
#section4 .section4-slides-text {
    display: block;
    width: 50%;
    padding: 0 10% 0 0;
}
#section4 .section4-slides {
    display: block;
    width: 50%;
	height: 650px;
	margin: 0;
}
#section4 .section4-slider .section4-model {
	float: right;
	width: auto;
	height: 100%;
	margin: 0 60px 0 0;
}
#section4 .section4-slides p {
	padding: 20px 0 0;
}
#section4 .section4-slides-text img {
	display: table;
	margin: 50px auto 0;
}
#section4 .section4-slides-text #section4-quotes {
	position: absolute;
	margin: -0 0 0 -60px;
}

#section5 {
	width: 100%;
	height: auto;
	padding: 100px 0;
	background:url(../images/section5-bg.png) 20% center;
	background-size: cover;
	text-align: center;
}
#section5 .row {
	max-width: 100%;
}

footer {
	background: #1f1f1f;
	width: 100%;
	height: auto;
	padding:50px;
}
footer p {
	font-size: 10pt;
}
footer .footer-links {
	position: relative;
	display: table;
	margin: 0 auto;
	padding: 50px 0 25px;
	clear: both;
}
footer .footer-links a {
	display: block;
	float: left;
	margin: 0 15px;
	color: #fff;
	opacity: 1;
}
footer a:hover {
	opacity: .5;
}
footer .footer-social {
	position: relative;
	display: table;
	margin: 0 auto;
	clear: both;
}
footer .footer-social img {
	margin: 10px;
	opacity: 1;
}

/* popup */
.mfp-content {
	height: 100%;
}
.popup-inner-container {
	position: fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 100%;
	height: auto;
}

/* get started */
#popup-get-started {
	text-align: center;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	position: relative;
}
#popup-get-started form {
	width: 70%;
	margin: 50px 15%;
	border-radius: 5px;
}
#popup-get-started .form-boxes {
	width: 24%;
	padding: 2%;
	margin: 0 1% 0 0;
	display: block;
	float: left;
	background: #fff;
	border-radius: 5px;
}
#popup-get-started input {
	width: 100%;
	color: #5a5a5a;
	font-size: 10pt;
}
#popup-get-started .form-submit {
	background: #e66a34;
	color: #fff;
}
#popup-get-started input:focus {
	outline: none;
}

/* prices */
.popup-prices {
	text-align: center;
	color: #fff;
}
.popup-prices h2 {
	width: 50%;
	margin: 0 25% 50px;
	padding: 30px;
	border-bottom: #fff 2px solid;
}
.popup-prices-get-started {
	width: 200px;
	padding: 20px;
	border: 2px #fff solid;
	border-radius: 4px;
	display: table;
	margin: 40px auto 0;
}
.popup-prices-get-started a {
	color: #fff;
	font-weight: bolder;
	font-size: 12pt;
}

.popup-description-list {
	width: 60%;
	margin: 0 20%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}





/* help */

#help-section1 {
	width: 100%;
	height: 100%;
	background: url(../images/help-bg.png) repeat-x;
	background-size: auto 100%;
}
.help-div {
	text-align: center;
	width: 60%;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}


.help-textinput{
	width: 100%;
	height: 80px;
	margin: 0 -80px 0 0;
	display: block;
	float: left;
	background: #fff;
	padding: 27px;
	border-radius: 10px;
}
.help-textinput input {
	font-family: 'GothamRounded-Book';
	font-size: 12pt;
	width: 80%;
	text-align: center;
}
.help-button {
	margin: 0;
	cursor: pointer;
	width: 80px;
	height: 80px;
	background: url(../images/search-button.png) #1f1f1f no-repeat center center;
	border-radius: 0 10px 10px 0;
	display: block;
	float: left;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.help-button:hover {
	background: url(../images/search-button.png) #2f2f2f no-repeat center center;
}

#help-section2 {
	width: 100%;
	height: auto;
	background: #f9f9f9;
	padding: 100px 0;
}
.help-topics {
	margin: 20px 0;
}



/* contact */

#contact-section1 {
	width: 100%;
	height: auto;
	background: url(../images/help-bg.png) repeat-x;
	background-size: auto 100%;
	padding: 100px 0 50px;
	text-align: center;
}
.contact-form-boxes {
	width: 100%;
	height: 40px;
	font-size: 13px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	background: #fff;
	text-align: left;
}
.contact-form-boxes input {
	width: 100%;
}
.contact-form-boxes select {
	background: transparent;
}
.contact-form-textarea {
	width: 100%;
	height: auto;
	font-size: 13px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	background: #fff;
	text-align: left;
}
.contact-form-textarea textarea {
	width: 100%;
}
.contact-form-submit {
	float: right;
	width: 100px;
	height: auto;
	font-size: 13px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	color: #fff;
	background: #1f1f1f;
	text-align: center;
}
.contact-form-submit input {
	background: transparent;
	color: #fff;
}

.map-div {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 10px;
}
.map-div iframe {
    width: 100%;
    height: 100%;
}




/* privacy policy */

#privacy-section1 {
	width: 100%;
	height: auto;
	background: url(../images/help-bg.png) repeat-x;
	background-size: auto 100%;
	padding: 100px 0 50px;
	text-align: center;
}
#privacy-section1 ul {
	list-style: none;
}
#privacy-section1 li {
	margin: 10px 0;
}
.privacy-list-div {
	border-top: #fff solid 3px;
	margin: 50px 0 0;
	padding: 40px 0 0;
}
.list-roman {
	list-style: upper-roman;
}
.h3-list {
	font-size: 25pt;
	font-weight: normal;
	margin: 10px 0;
}
.list-bullet {
	list-style: circle;
	font-size: 12pt;
}

/* terms */

#terms-section1 {
	width: 100%;
	height: auto;
	background: url(../images/help-bg.png) repeat-x;
	background-size: auto 100%;
	padding: 100px 0 50px;
	text-align: center;
}
#terms-section1 ul {
	list-style: none;
}
#terms-section1 li {
	margin: 10px 0;
}
.list-alpha {
	list-style: upper-alpha;
	font-size: 20pt;
}
