<!DOCTYPE html>
<html>
<head>
	<title>TackThis! - Contact</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" href="../styles/foundation-custom2.min.css">
	<link rel="stylesheet" type="text/css" href="../styles/slick.css">
	<link rel="stylesheet" type="text/css" href="../styles/popup.css">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive.css">

	<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
	<script src="../scripts/index.js"></script>
	<script src="../scripts/slick.min.js"></script>
	<script src="../scripts/popup.js"></script>
	<script src="../scripts/page.js"></script>

</head>
<body>

	<header>
		<a href="../index.html">
			<img src="../images/tackthis-logo.png" id="tackthis-logo">
		</a>
		<div id="header-nav">
			<a href="#">
				<p>LOGIN</p>
			</a>
			<a class="popup" href="#popup-get-started">
				<p>GET STARTED</p>
			</a>
		</div>
	</header>

	<a href="#contact-section1" class="back-to-top-link">
		<img src="../images/back-to-top.png" id="back-to-top">
	</a>

	<div id="contact-section1">
		<div class="row">
			
			<div class="large-12 columns">
				<h2 class="white-text">CONTACT US</h2>
			</div>

			<div class="large-4 columns">
				<form>
					<div class="contact-form-boxes"><input type="text" placeholder="First Name"></div>
					<div class="contact-form-boxes"><input type="text" placeholder="Last Name"></div>
					<div class="contact-form-boxes"><input type="email" placeholder="Email Address"></div>
					<div class="contact-form-boxes"><input type="text" placeholder="Contact Number"></div>
					<div class="contact-form-boxes"><input type="text" placeholder="Company"></div>
					<div class="contact-form-boxes">
						<select>
							<option value="">Regarding:</option>
							<option value="">Technical Enquiry</option>
							<option value="">Sales Enquiry</option>
							<option value="">Partnerships Enquiry</option>
							<option value="">Resellers Enquiry</option>
						</select>
					</div>
					<div class="contact-form-textarea">
						<textarea placeholder="Your message" rows="4"></textarea>
					</div>
					<div class="contact-form-submit">
						<input type="submit" value="SUBMIT">
					</div>
				</form>
			</div>
			<div class="large-8 columns white-text align-left">
				<div class="map-div">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.2282635575248!2d121.06014100000002!3d14.586065000000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c816e2939095%3A0x61188f005a928dcf!2sAnson&#39;s+Appliance+Store!5e0!3m2!1sen!2sph!4v1432800589324" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
				</div>
				<div class="medium-7 columns">
					<h3>Office Location:</h3>
					<p>
						12F Anson's Bldg. 23 ADB Avenue<br>Ortigas Center, Pasig 1605
					</p>
					<br>
				</div>
				<div class="medium-5 columns">
					<h3>Email us at:</h3>
					<p>
						sales@tackthis.com.ph
					</p>
				</div>
			</div>

		</div>
	</div>

	<footer>
		<div class="row">
			<div class="large-1 columns">
				&nbsp;
			</div>
			<div class="medium-6 large-5 columns darkgrey-text">
				<p>
					TackThis!&trade; is a product of Paywhere Pte Ltd. TackThis!&trade; 
					is an effective e-retail solution with social commerce capabilities 
					that empowers individuals and businesses to sell across web, 
					social media and mobile. 
					Individuals and business partner with TackThis!™ 
				</p>
			</div>
			<div class="medium-6 large-5 columns darkgrey-text">
				<p>
					to enable social shopping experiences for customers 
					across social networks such as Facebook, LiveJournal and your websites. 
					Setup an online store with TackThis!&trade; 
					and leverage on your social media to optimize sales.
				</p>
			</div>
			<div class="large-1 columns">
				&nbsp;
			</div>

			<div class="footer-links">
				<a href="contact.html">
					<p>CONTACT US</p>
				</a>
				<a href="http://docs.tackthis.com/help-guide/" target="_blank">
					<p>HELP</p>
				</a>
				<a href="terms.html">
					<p>TERMS OF SERVICE</p>
				</a>
				<a href="privacy.html">
					<p>PRIVACY POLICY</p>
				</a>
			</div>
			<div class="footer-social">
				<a href="http://www.facebook.com/TackThisPH" target="_blank">
					<img src="../images/icon-fb.png">
				</a>
				<a href="http://twitter.com/tackthisph" target="_blank">
					<img src="../images/icon-twitter.png">
				</a>
			</div>
		</div>
	</footer>


<!-- pop up divs -->

<!-- get started-->
<div id="popup-get-started" class="fade-anim mfp-hide">
	<div class="popup-inner-container">
		<img src="../images/tackthis-logo.png">
		<br>
		<h2 class="white-text">Sign up for a free 15-Day trial!</h2>
		<form>
			<div class="form-boxes"><input type="text" placeholder="Name"></div>
			<div class="form-boxes"><input type="email" placeholder="Email Address"></div>
			<div class="form-boxes"><input type="password" placeholder="Password"></div>
			<div class="form-submit form-boxes"><input class="form-submit" type="submit" value="GET STARTED"></div>
		</form>
	</div>
</div>


</body>
</html>