  <div ng-controller="ContactCtrl">

    <a href="#contact-section1" class="back-to-top-link">
      <img src="../images/back-to-top.png" id="back-to-top">
    </a>

    <div id="contact-section1">
      <div class="row">

        <div class="large-12 columns">
          <h2 class="white-text">CONTACT US</h2>
        </div>

        <div class="large-4 columns">
          <form ng-submit="submitForm()">
            <div class="contact-form-boxes"><input name="firstname" type="text" ng-model="formData.firstname" ng-class="{'error' : errorFirstName}" placeholder="First Name"></div>
            <div class="contact-form-boxes"><input name="lastname" type="text" ng-model="formData.lastname" ng-class="{'error' : errorLastName}" placeholder="Last Name"></div>
            <div class="contact-form-boxes"><input name="email" type="email" ng-model="formData.email" ng-class="{'error' : errorEmail}" placeholder="Email Address"></div>
            <div class="contact-form-boxes"><input name="contact" type="text" ng-model="formData.contact" ng-class="{'error' : errorContact}" placeholder="Contact Number"></div>
            <div class="contact-form-boxes"><input name="company" type="text" ng-model="formData.company" ng-class="{'error' : errorCompany}" placeholder="Company"></div>
            <div class="contact-form-boxes">
              <select name="mailtype" ng-model="formData.mailtype" ng-class="{'error' : errorMailType}">
                <option value="">Regarding:</option>
                <option value="Technical Enquiry">Technical Enquiry</option>
                <option value="Sales Enquiry">Sales Enquiry</option>
                <option value="Partnerships Enquiry">Partnerships Enquiry</option>
                <option value="Resellers Enquiry">Resellers Enquiry</option>
              </select>
            </div>
            <div class="contact-form-textarea" >
              <textarea name="message" ng-model="formData.message" ng-class="{'error' : errorMessage}" placeholder="Your message" rows="4"></textarea>
            </div>
            <div class="contact-form-submit">
              <input type="submit" value="SUBMIT" ng-click="submit()">
              <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
            </div>
          </form>
        </div>
        <div class="large-8 columns white-text align-left">
          <div class="map-div">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.2282635575248!2d121.06014100000002!3d14.586065000000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c816e2939095%3A0x61188f005a928dcf!2sAnson&#39;s+Appliance+Store!5e0!3m2!1sen!2sph!4v1432800589324" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
          </div>
          <div class="medium-7 columns">
            <h3>Office Location:</h3>
            <p>
              12F Anson's Bldg. 23 ADB Avenue<br>Ortigas Center, Pasig 1605
            </p>
            <br>
          </div>
          <div class="medium-5 columns">
            <h3>Email us at:</h3>
            <p>
              sales@tackthis.com.ph
            </p>
          </div>
        </div>

      </div>
    </div>




    <!-- pop up divs -->

    <!-- get started-->
    <div id="popup-get-started" class="fade-anim mfp-hide">
      <div class="popup-inner-container">
        <img src="../images/tackthis-logo.png">
        <br>
        <h2 class="white-text">Sign up for a free 15-Day trial!</h2>
        <form>
          <div class="form-boxes"><input type="text" placeholder="Name"></div>
          <div class="form-boxes"><input type="email" placeholder="Email Address"></div>
          <div class="form-boxes"><input type="password" placeholder="Password"></div>
          <div class="form-submit form-boxes"><input class="form-submit" type="submit" value="GET STARTED"></div>
        </form>
      </div>
    </div>

  </div>


