<!DOCTYPE html>
<html>
<head>
	<title>TackThis! - Help</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" href="foundation-custom2.min.css">
	<link rel="stylesheet" type="text/css" href="slick.css">
	<link rel="stylesheet" type="text/css" href="popup.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="responsive.css">

	<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
	<script src="js/index.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/popup.js"></script>
	<script src="js/page.js"></script>

</head>
<body>

	<header>
		<a href="#">
			<img src="images/tackthis-logo.png" id="tackthis-logo">
		</a>
		<div id="header-nav">
			<a href="https://dashboard.tackthis.com/">
				<p>LOGIN</p>
			</a>
			<a class="popup" href="#popup-get-started">
				<p>GET STARTED</p>
			</a>
		</div>
	</header>

	<a href="#help-section1" class="back-to-top-link">
		<img src="images/back-to-top.png" id="back-to-top">
	</a>

	<div id="help-section1">
		<div class="help-div">
			<h2 class="white-text">TACKTHIS! HELP GUIDE</h2>
			<br>
			<form id="help-search" method="get" action="http://www.google.com">
				<div class="help-textinput"><input type="text" placeholder="Ask a question or enter a search term."></div>
			    <div><input type="submit" value=" " class="help-button"></div>
			</form>
		</div>
	</div>

	<div id="help-section2">
		
		<div class="row">
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">OVERVIEW</h4>
				<p class="darkgrey-text">
					Track your shop progress, sales, traffic and trends in one dashboard >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">SHOP SETTINGS</h4>
				<p class="darkgrey-text">
					Configure your shop's profile, SEO, timezones, and correspondence email addresses >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">THEMES &amp; LAYOUTS</h4>
				<p class="darkgrey-text">
					Take your pick from our ready-made themes and customize your storefront to suit your brand >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">PAGES</h4>
				<p class="darkgrey-text">
					Create web pages to tell your customers more about you and your shop >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">PRODUCTS</h4>
				<p class="darkgrey-text">
					Prepare your products for sale, categorise them, and manage your inventory >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">PROMOTIONS</h4>
				<p class="darkgrey-text">
					Create promotional campaigns to drive more traffic and sale to your shop >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">DELIVERY</h4>
				<p class="darkgrey-text">
					Set your modes of delivery, specify regions you ship to,, set your delivery fees and taxes >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">PAYMENTS</h4>
				<p class="darkgrey-text">
					Link up with our pre-integrated payment gateways &amp; configure other payment methods >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">ORDERS</h4>
				<p class="darkgrey-text">
					Manage your orders, track payments, and fulfill transactions >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">MEDIA</h4>
				<p class="darkgrey-text">
					Upload your image files to add them to your product and pages >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">SHOP LAUNCH</h4>
				<p class="darkgrey-text">
					Launch your shop onto multiple social sites, grab your TackThis shop name, and set custom domain >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">CUSTOMERS</h4>
				<p class="darkgrey-text">
					Search through your customer list, view their details and order histories, get your orders, track payments, and fulfill transactions >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">ACCOUNT SETTING</h4>
				<p class="darkgrey-text">
					Edit your TackThis profile, billing information, change password, and manage your admin accesses >
				</p>
			</div>
			
			<div class="medium-6 columns help-topics">
				<h4 class="orange-text">TACKSTORE</h4>
				<p class="darkgrey-text">
					Add additional tools and features to beef up your shop by installing TackThis apps >
				</p>
			</div>

		</div>

	</div>

	<footer>
		<div class="row">
			<div class="large-1 columns">
				&nbsp;
			</div>
			<div class="medium-6 large-5 columns darkgrey-text">
				<p>
					TackThis!™ is a product of Paywhere Pte Ltd. TackThis!™ 
					is an effective e-retail solution with social commerce capabilities 
					that empowers individuals and businesses to sell across web, 
					social media and mobile. 
					Individuals and business partner with TackThis!™ 
				</p>
			</div>
			<div class="medium-6 large-5 columns darkgrey-text">
				<p>
					to enable social shopping experiences for customers 
					across social networks such as Facebook, LiveJournal and your websites. 
					Setup an online store with TackThis!™ 
					and leverage on your social media to optimize sales.
				</p>
			</div>
			<div class="large-1 columns">
				&nbsp;
			</div>

			<div class="footer-links">
				<a href="contact.html" target="_blank">
					<p>CONTACT US</p>
				</a>
				<a href="http://docs.tackthis.com/help-guide/" target="_blank">
					<p>HELP</p>
				</a>
				<a href="terms.html" target="_blank">
					<p>TERMS OF SERVICE</p>
				</a>
				<a href="privacy.html" target="_blank">
					<p>PRIVACY POLICY</p>
				</a>
			</div>
			<div class="footer-social">
				<a href="#" target="_blank">
					<img src="images/icon-fb.png">
				</a>
				<a href="#" target="_blank">
					<img src="images/icon-twitter.png">
				</a>
			</div>
		</div>
	</footer>


<!-- pop up divs -->

<!-- get started-->
<div id="popup-get-started" class="fade-anim mfp-hide">
	<div class="popup-inner-container">
		<img src="images/tackthis-logo.png">
		<br>
		<h2 class="white-text">Sign up for a free 15-Day trial!</h2>
		<form>
			<div class="form-boxes"><input type="text" placeholder="Name"></div>
			<div class="form-boxes"><input type="email" placeholder="Email Address"></div>
			<div class="form-boxes"><input type="password" placeholder="Password"></div>
			<div class="form-submit form-boxes"><input class="form-submit" type="submit" value="GET STARTED"></div>
		</form>
	</div>
</div>


</body>
</html>