
<a href="#section1">
  <img src="images/back-to-top.png" id="back-to-top">
</a>

<div class="section-folds" id="section1">
  <div class="section1-title">
    <p>Create your online store <br>with TackThis!</p>
    <br>
    <pop-up link="popup"></pop-up>

  </div>
  <bgslick-slide></bgslick-slide>
  <slick-slide set="0"></slick-slide>
  <a href="#section2">
    <img src="images/down-button.png" id="down-button">
  </a>
</div>

<nav class="clearfix">

  <a class="nav-collapse-button" id="pull">BROWSE</a>
  <ul class="nav-options">
    <li><a href="#section2"><p>FEATURES</p></a></li>
    <li><a href="#section3"><p>PRICING</p></a></li>
    <li><a href="#section4"><p>TESTIMONIALS</p></a></li>
  </ul>

  <pop-up link="popup" set-class="getstarted-nav"></pop-up>


</nav>

<div id="section2">
  <div class="row" id="section2-fold1a">
    <div class="medium-12 columns">
      <h2 class="black-text">Everything you need to sell online.</h2>
      <h4 class="greyish-text">We take away the hassles of selling online,<br>so you can focus on growing your business.</h4>
    </div>
  </div>

  <div class="row" id="section2-fold1b">

    <div class="section2-parts">
      <div class="medium-7 columns">
        <slick-slide set="1"></slick-slide>
      </div>
      <div class="medium-5 columns">
        <h3 class="align-left">A beautiful online store.</h3>
        <p class="greyish-text align-left">
          Your online store is the face of your business. We'll provide you customizable themes so you can look good for your customers on any device. It's fun, simple, and doesn't need code to work!
        </p>
      </div>
    </div>

    <div class="section2-parts">
      <div class="medium-7 columns float-right">
        <img src="images/section2-part2.png">
      </div>
      <div class="medium-5 columns">
        <h3 class="align-right">Easy store management.</h3>
        <p class="greyish-text align-right">
          It's BETTER than selling on Facebook!<br>Get notified about your customers' purchases instantly, and keep track of pending and<br>fulfilled orders.
        </p>
      </div>
    </div>

    <div class="section2-parts">
      <div class="medium-6 columns">
        <img src="images/section2-part3.png">
      </div>
      <div class="medium-6 columns">
        <h3 class="align-left">Flexible payments &amp; deliveries.</h3>
        <p class="greyish-text align-left">
          Create your own payment methods to accept VISA, Mastercard, bank deposits or cash-on-delivery transactions. Approve orders and schedule deliveries with any of our partners!
        </p>
      </div>
    </div>

    <div class="section2-parts">
      <div class="medium-7 columns float-right">
        <slick-slide set="2"></slick-slide>

      </div>
      <div class="medium-5 columns">
        <h3 class="align-right">Tackable anywhere!</h3>
        <p class="greyish-text align-right">
          Sell on Facebook and other sites while keeping your store's look! Your customers can buy from you without leaving those platforms so you can be wherever they are.
        </p>
      </div>
    </div>
  </div>

  <br>
  <div id="section2-fold2">

    <div class="row">
      <div class="large-6 columns float-right">
        <h2 class="white-text align-left">Manage everything<br>all in one dashboard.</h2>
        <br>
      </div>
      <div class="large-6 columns">
        <img src="images/tackthis-dashboard.png" id="section2-fold2-img">
      </div>
      <div class="large-6 columns">
        <textslick-slide></textslick-slide>
      </div>
    </div>

  </div>
</div>

<div id="section3">
  <div class="row">
    <h2 class="white-text">With our prices, we promise<br>you'll get more for less.</h2>

    <div class="section3-price-slider" id="price-options-div">

      <div class="price-options">
        <img src="images/price-options-1.png">
        <h5>Basic</h5>
        <p>
          5 Products
          <br><br>
          Easy setup of payment<br>and delivery
          <br><br>
          <a class="popup" href="#popup-price1">See Features &gt;</a>
        </p>
      </div>

      <div class="price-options">
        <img src="images/price-options-2.png">
        <h5>Novice</h5>
        <p>
          30 Products
          <br><br>
          Easy setup of payment<br>and delivery
          <br><br>
          <a class="popup" href="#popup-price2">See Features &gt;</a>
        </p>
      </div>

      <div class="price-options most-popular">
        <h6>MOST POPULAR!</h6>
        <img src="images/price-options-3.png">
        <h5>Professional</h5>
        <p>
          60 Products
          <br><br>
          Easy setup of payment<br>and delivery
          <br><br>
          <a class="popup" href="#popup-price3">See Features &gt;</a>
        </p>
      </div>

      <div class="price-options">
        <img src="images/price-options-4.png">
        <h5>Expert</h5>
        <p>
          100 Products
          <br><br>
          Easy setup of payment<br>and delivery
          <br><br>
          <a class="popup" href="#popup-price4">See Features &gt;</a>
        </p>
      </div>

      <div class="price-options">
        <img src="images/price-options-5.png">
        <h5>Premium</h5>
        <p>
          Unlimited Products
          <br><br>
          Easy setup of payment<br>and delivery
          <br><br>
          <a class="popup" href="#popup-price5">See Features &gt;</a>
        </p>
      </div>

    </div>

  </div>
</div>

<div id="section4">

  <div class="row white-text">
    <div class="section4-slider">

      <div class="section-slides">
        <div class="section4-slides section4-slides-text float-right">
          <img src="images/section4/logo1.png">
          <img src="images/section4/quotes.png" id="section4-quotes">
          <h3>
            TackThis helped us focus on<br>
            improving and developing<br>
            new products.
          </h3>
          <p>
            I think the most unique value of the platform is that it's all-in-one
            and it made everything so easy. When we were looking for
            platforms/e-commerce services before, nothing came close to the
            concierge service of TackThis. We enjoy a lot of perks! Also, the
            platform decreased the stress of maintaining an online shop.
          </p>
          <p>
            JEL CAILAO, Big H Skate Co.
          </p>
        </div>
        <div class="section4-slides float-left">
          <img src="images/section4/merchant1.png" class="section4-model">
        </div>
      </div>

    </div>

  </div>

</div>

<div id="section5">
  <div class="row white-text">
    <h2>Ready to sell online?</h2>
    <br>
    <pop-up link="popup"></pop-up>
  </div>

</div>



<!-- pop up divs -->

<!-- get started-->
<!--<div id="popup-get-started" class="fade-anim mfp-hide">-->
  <!--<div class="popup-inner-container">-->
    <!--<img src="images/tackthis-logo.png">-->
    <!--<br>-->
    <!--<h2 class="white-text">Sign up for a free 15-Day trial!</h2>-->
    <!--<form>-->
      <!--<div class="form-boxes"><input type="text" placeholder="Name"></div>-->
      <!--<div class="form-boxes"><input type="email" placeholder="Email Address"></div>-->
      <!--<div class="form-boxes"><input type="password" placeholder="Password"></div>-->
      <!--<div class="form-submit form-boxes"><input class="form-submit" type="submit" value="GET STARTED"></div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<!-- prices popip -->
<div id="popup-price1" class="fade-anim mfp-hide popup-prices">
  <div class="popup-inner-container">
    <h2>BASIC</h2>
    <p>
      Free Forever<br>
      5 Products<br>
      Easy setup of payment and delivery<br>
      Tack your store anywhere<br>
      Social Interaction Reports<br>
      Mobile Store<br>
      Customizable email templates and forms<br>
      Membership Application<br>
    </p>
    <div class="popup-prices-get-started">
      <a class="popup" href="#popup-get-started">GET STARTED &gt;</a>
    </div>
  </div>
</div>

<div id="popup-price2" class="fade-anim mfp-hide popup-prices">
  <div class="popup-inner-container">
    <h2>NOVICE</h2>
    <p>
      Php299/Month<br>
      30 Products<br>
      Easy setup of payment and delivery<br>
      Tack your store anywhere<br>
      Social Interaction Reports<br>
      Mobile Store<br>
      Customizable email templates and forms<br>
      Membership Application<br>
    </p>
    <div class="popup-prices-get-started">
      <a class="popup" href="#popup-get-started">GET STARTED &gt;</a>
    </div>
  </div>
</div>

<div id="popup-price3" class="fade-anim mfp-hide popup-prices">
  <div class="popup-inner-container">
    <h2>PROFESSIONAL</h2>
    <p class="popup-description-list">
      Php599/Month<br>
      60 Products<br>
      Easy setup of payment and delivery<br>
      Tack your store anywhere<br>
      Social Interaction Reports<br>
      Mobile Store<br>
      Customizable email templates and forms<br>
      Membership Application<br>
      Product Attribute<br>
      Shop Alias<br>
      Coupon Code and Discount Engine<br>
      Professional Reports

    </p>
    <div class="popup-prices-get-started">
      <a class="popup" href="#popup-get-started">GET STARTED &gt;</a>
    </div>
  </div>
</div>

<div id="popup-price4" class="fade-anim mfp-hide popup-prices">
  <div class="popup-inner-container">
    <h2>EXPERT</h2>
    <p class="popup-description-list">
      Php899/Month<br>
      100 Products<br>
      Easy setup of payment and delivery<br>
      Tack your store anywhere<br>
      Social Interaction Reports<br>
      Mobile Store<br>
      Customizable email templates and forms<br>
      Membership Application<br>
      Product Attribute<br>
      Shop Alias<br>
      Coupon Code and Discount Engine<br>
      Professional Reports<br>
      Export Reports<br>
      Members Only Price<br>
      Product Bundles

    </p>
    <div class="popup-prices-get-started">
      <a class="popup" href="#popup-get-started">GET STARTED &gt;</a>
    </div>
  </div>
</div>

<div id="popup-price5" class="fade-anim mfp-hide popup-prices">
  <div class="popup-inner-container">
    <h2>PREMIUM</h2>
    <p class="popup-description-list">
      Php3500/Month<br>
      Unlimited Products<br>
      Easy setup of payment and delivery<br>
      Tack your store anywhere<br>
      Social Interaction Reports<br>
      Mobile Store<br>
      Customizable email templates and forms<br>
      Membership Application<br>
      Product Attribute<br>
      Shop Alias<br>
      Coupon Code and Discount Engine<br>
      Professional Reports<br>
      Export Reports<br>
      Members Only Price<br>
      Product Bundles<br>
      Custom Domain

    </p>
    <div class="popup-prices-get-started">
      <a class="popup" href="#popup-get-started">GET STARTED &gt;</a>
    </div>
  </div>
</div>

<script src="scripts/page.js"></script>
