

<div class="section3-price-slider" id="price-options-div">

  <div class="price-options">
    <img src="images/price-options-1.png">
    <h5>Basic</h5>
    <p>
      5 Products
      <br><br>
      Easy setup of payment<br>and delivery
      <br><br>
      <a class="popup" href="#popup-price1">See Features &gt;</a>
    </p>
  </div>

  <div class="price-options">
    <img src="images/price-options-2.png">
    <h5>Novice</h5>
    <p>
      30 Products
      <br><br>
      Easy setup of payment<br>and delivery
      <br><br>
      <a class="popup" href="#popup-price2">See Features &gt;</a>
    </p>
  </div>

  <div class="price-options most-popular">
    <h6>MOST POPULAR!</h6>
    <img src="images/price-options-3.png">
    <h5>Professional</h5>
    <p>
      60 Products
      <br><br>
      Easy setup of payment<br>and delivery
      <br><br>
      <a class="popup" href="#popup-price3">See Features &gt;</a>
    </p>
  </div>

  <div class="price-options">
    <img src="images/price-options-4.png">
    <h5>Expert</h5>
    <p>
      100 Products
      <br><br>
      Easy setup of payment<br>and delivery
      <br><br>
      <a class="popup" href="#popup-price4">See Features &gt;</a>
    </p>
  </div>

  <div class="price-options">
    <img src="images/price-options-5.png">
    <h5>Premium</h5>
    <p>
      Unlimited Products
      <br><br>
      Easy setup of payment<br>and delivery
      <br><br>
      <a class="popup" href="#popup-price5">See Features &gt;</a>
    </p>
  </div>

</div>








