<div class="section2-fold2-slider align-left white-text">
  <div>
    <h4>Inventory Management</h4>
    <p>
      We save you the trouble from answering your customers' questions. Our dashboard allows you to provide all information needed ranging from prices, stocks, color and size variants and more.
    </p>
  </div>
  <div>
    <h4>Reports and Analytics</h4>
    <p>
      No need to have paper, pen, and calculator in hand. We give you the tools to keep tab on your sales. You can get monthly and daily updates of your sales with just a few clicks.
    </p>
  </div>
  <div>
    <h4>Customer Profile</h4>
    <p>
      Learn more about your customers and their shopping profiles. Knowing their buying behavior is a valuable tool that can give you insight on how to improve your services further.
    </p>
  </div>
  <div>
    <h4>Built-In Marketing</h4>
    <p>
      Entice customers to buy more by setting coupon codes, promo prices, and discount engines on your online store. We'll give you the tools to share your promos on social sites to attract even more customers.
    </p>
  </div>
</div>
